
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
    <section>
        <img src="~/hotel_4.jpg" alt="Hotel Room with Beach View" width="694" height="438">
    </section>
    <section>
        <img src="~/hotel_6_1.jpg" alt="Hotel Room with Beach View" width="230">
        <img src="~/hotel_3_1.jpg" alt="Hotel Room with Beach View" width="230">
        <img src="~/hotel_2_1.jpg" alt="Hotel Room with Beach View" width="230">
    </section>
</body>
</html>
