
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/reset.css" rel="stylesheet">
    <link href="~/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Neuton|Noto+Serif|Source+Serif+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <section></section>
</body>
</html>
