@model IEnumerable<Async_Inn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<body>
    <h2>Room Amenities</h2>

    <div><a class="button" asp-action="Create">Create New</a></div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amenities)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amenities.Name)
                    </td>
                    <td>
                        <a class="links" asp-action="Edit">Edit</a>
                        <a class="links" asp-action="Details">Details</a>
                        <a class="links" asp-action="Delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>