<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/style.css" />
</head>
<body>
    <h1>Async Inn</h1>
    <nav>
        <ul>
            <li>Home</li>
            <li>Hotels</li>
            <li>Hotel Rooms</li>
            <li>Rooms</li>
            <li>Room Amenities</li>
            <li>Amenities</li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
