body {
    background-color: white;
    /*font-family: 'Noto Serif', serif;
    /*font-family: 'Merriweather', serif;
    font-family: 'Source Serif Pro', serif;*/
    font-family: 'Neuton', serif;
    margin: 0;
}

ul {
    margin: 10px auto;
    padding: 0;
    list-style: none;
    display: table;
    width: 700px;
    text-align: center;
}

li {
    font-family: 'Neuton', serif;
    display: table-cell;
    position: relative;
    padding: 0px 0 15px 0;
    text-transform: uppercase;
}

.nav {
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 0px;
    position: relative;
}

.nav:hover {
    color: rgb(131, 131, 131)
}

.nav:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    position: absolute;
    background: rgb(131, 131, 131);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav:hover:after {
    width: 100%;
    left: 0;
}

.topnav a {
    float: left;
    font-family: 'Neuton', serif;
    color: rgb(57, 57, 57);
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 15px;
}

.topbar {
    background-color: rgb(80, 80, 80);
    color: azure;
    padding: 3px;
    width: 100%;
}

.topbar > p {
    font-family: 'Neuton', serif;
    font-size: 0.9em;
    padding: 3px 8px;
}

.title {
    text-align: center;
    font-size: 2em;
    padding: 30px;
    margin: 10px auto;
}

.button {
    margin-left: 10px;
    background-color: rgb(67, 67, 67);
    text-decoration: none;
    padding: 10px;
    border-radius: 0.5em;
    display: inline-block;
}

.button > p {
    color: white;
}
h2 {
    color: black;
    font-size: 1.5em;
    text-align: center;
    padding: 30px;
    margin: 10px auto;
}

h5 {
    font-family: 'Neuton', serif;
    color: black;
}

h4, h5, hr, p {
    margin: 10px;
}

table {
    margin: 10px 0px 0px 10px;
    width: 960px;
}

thead {
    font-weight: bold;
}

tbody {
    background-color: #ffffff;
}

tbody > tr:hover {
    text-decoration: underline;
    color: rgb(84, 84, 84);
}

th {
    letter-spacing: 0.02em;
    padding: 3.5px 5px;
    text-align: left;
}

td {
    letter-spacing: 0.02em;
    padding: 3.5px 5px;
    text-align: left;
}

footer > p {
    padding: 6px 8px;
    font-size: 0.8em;
}
