body {
    background-color: white;
    font-family: 'Noto Serif', serif;
    /*font-family: 'Noto Serif', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Neuton', serif;*/
    margin: 25px 30px;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 2em;
    background-color: #0e0e44;
    padding: 30px;
    margin: 10px;
}

h5 {
    font-family: 'Neuton', serif;
    color: black;
    margin: 10px;
}

p {
    margin: 10px;
}
table {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px 0px 0px 10px;
    min-width: 1000px;
    width: auto;
}

thead {
    background-color: rgb(199, 199, 199);
    font-weight: bold;
}

tbody {
    background-color: #ffffff;
}

tr:hover {
    background-color: rgb(230, 230, 230);
}

th, td {
    border: 1px solid rgb(212, 211, 211);
    padding: 3.5px 5px;
    text-align: left;
}